.form {
  display: flex;
  flex-direction: column;

  .form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    label {
      min-width: 6em;
      vertical-align: top;
    }

    $validColor: #41ab23;
    $invalidColor: crimson;
    input {
      flex: 1;
      border-style: none;
      line-height: 1.6;
      font-size: 0.8em;
      font-family: inherit;
      padding: 0.4em;
      border-radius: 2px;
      border: 1px solid silver;
      transition: all 0.3s;
      &:invalid {
        &:focus {
          outline-color: crimson;
        }
      }
    }
  }
  .form-group + .form-group {
    margin-top: 1em;
  }
}
.theme--dark {
  .form {
    input {
      background: #333;
      color: #bbb;
    }
  }
}
