.platform--en {
  .platform__input {
    font-family: inherit;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0.2em 0.4em;
    height: 2em;
    overflow: hidden;
    line-height: 1.6;
    position: relative;
    border: 1px solid silver;
    font-size: 1.2em;
    font-weight: bold;

    &:focus {
      outline-style: solid;
      outline-width: medium;
    }
  }
  .platform__next-word {
    transition: background 0.3s;
    background: #2196f3;
    color: snow;
  }
  .platform__input--not-valid {
    background: lightcoral;
  }
}
